form .form_block .block_inputs .block_select .select .select__calendar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    width: calc(320px - 17px * 2);
    height: calc(320px - 18px * 2);
    padding: 18px 17px;
    border: 1px solid #858C94;
    border-radius: 10px;
    position: absolute;
    top: 70px;
    right: 0;
    cursor: auto;
    user-select: none;
}



form .form_block .block_inputs .block_select .select .select__calendar .calenar__header{
    font-size: 16px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 500;
}



form .form_block .block_inputs .block_select .select .select__calendar .calendar{
    width: 100%;
    height: 100%;
    margin-top: 20px;
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar table{
    width: 100%;
    height: 100%;
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar table tr th{
    width: 38px;
    color: #D0D0D0;
    font-size: 12px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 500;
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar table tr td{
    min-width: 36px;
    color: #262626;
    font-size: 12px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 500;
    text-align: center;
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar table tr td._no_active{
    color: #D0D0D0;
    pointer-events: none;
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar table tr td span{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    height: 22px;
    border-radius: 5px;
    background-color: #ffffff00;
    cursor: pointer;

    transition: all .3s ease;
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar table tr td span:hover{
    background-color: #B3EAAA;
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar table tr td span._active{
    color: white;
    background-color: #5CB44E;
}



form .form_block .block_inputs .block_select .select .select__calendar .calendar__arrow{
    width: 27px;
    height: 27px;
    position: absolute;
    top: 15px;
    left: 17px;
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar__arrow::before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/calendar/icon_calendar_next.svg");
    background-repeat: no-repeat;
    background-size: 100%;
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar__arrow::after{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url("../img/calendar/icon_calendar_next_active.svg");
    background-repeat: no-repeat;
    background-size: 100%;
    opacity: 0;
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar__arrow._active::after{
    opacity: 1;
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar__arrow.prev{
    left: 17px;
    transform: rotate(-180deg);
}

form .form_block .block_inputs .block_select .select .select__calendar .calendar__arrow.next{
    left: auto;
    right: 17px;
}