.popup_rules{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    overflow: hidden;
}

.popup_rules .popup_body{
    width: calc(100% - 50px);
    height: calc(100% - 80px);
    padding: 40px 25px;
    overflow: auto;
    background-color: white;

    transform: translateY(100%);
    transition: all .7s ease;
}

.popup_rules._active .popup_body{
    transform: translateY(0);
}


.popup_rules .popup_body .popup_close{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 5px;
    left: 0;
}

.popup_rules .popup_body .popup_close img{
    width: 100%;
    height: 100%;
}


.popup_rules .popup_body .popup_content{
    display: flex;
    flex-direction: column;
    gap: 50px;
    position: relative;
}

.popup_rules .popup_body .popup_content h1{
    width: fit-content;
    color: #262626;
    font-size: 26px;
    font-family: "Roboto-Medium", sans-serif;
    font-weight: 900;
    margin: 0 0 0 50px;
}

.popup_rules .popup_body .popup_content .rules{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.popup_rules .popup_body .popup_content .rules p{
    width: fit-content;
    color: #262626;
    font-size: 18px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    margin: 0;
}