body{
    margin: 0;
}


.results{
    display: flex;
    flex-direction: column;
    gap: 45px;
    width: calc(100% - 350px * 2);
    height: fit-content;
    margin: 30px auto;
}


.results .heading{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.results .heading h1{
    color: #262626;
    font-size: 30px;
    font-family: "Roboto-Medium", sans-serif;
    font-weight: 500;
    margin: 0;
}

.results .heading h4{
    color: #262626;
    font-size: 20px;
    font-family: "Roboto-Medium", sans-serif;
    font-weight: 500;
    margin: 0;
}


.results .result{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.results .result label{
    color: #262626;
    font-size: 20px;
    font-family: "Roboto-Medium", sans-serif;
    font-weight: 900;
}

.results .result input{
    width: 398px;
    height: 50px;
    color: #262626;
    font-size: 20px;
    font-family: "Roboto-Regular", sans-serif;
    font-weight: 400;
    border: 1px solid #D0D0D0;
    border-radius: 10px;
    padding-left: 10px;
    outline: none;
    cursor: default;
}