@media only screen and (min-width : 2500px){
    .popup_rules .popup_body .popup_content {
        width: 1800px !important;
    }
}

@media only screen and (min-width : 1900px){
    .popup_rules .popup_body {
        width: 100%;
        padding: 40px 0;
    }

    .popup_rules .popup_body .popup_content {
        width: 1400px;
        margin: 0 auto;
    }

    .popup_rules .popup_body .popup_close {
        width: 35px;
        height: 35px;
    }

    .popup_rules .popup_body .popup_content h1 {
        font-size: 34px;
    }

    .popup_rules .popup_body .popup_content .rules p {
        font-size: 26px;
    }
}